spring:
  application:
    name: family-budget
  datasource:
    url: jdbc:postgresql://localhost:5432/children_budget?defaultSchema=public
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
  freemarker:
    suffix: .ftlh
    cache: false
  devtools:
    livereload:
      enabled: true
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 0
          no-cache: true
          no-store: true
          must-revalidate: true

app:
  security:
    username: ${APP_BASIC_AUTH_USERNAME:}
    password: ${APP_BASIC_AUTH_PASSWORD:}
